[Unit]
Description=autokmdb podman compose service
After=network.target
Requires=podman.service

[Service]
WorkingDirectory=%h/sajtoadatbazis-automat/webapp/
ExecStart=/usr/bin/podman-compose up -d
ExecStop=/usr/bin/podman-compose down
Restart=no
TimeoutStopSec=60
KillMode=process

[Install]
WantedBy=default.target
