node_modules/
.venv/
.avenv/
.nuxt/
.output/
__pycache__/
.ipynb_checkpoints/
autokmdb.log
screenshot.png
webapp/secrets/
webapp/data/.cache
dataset/*.jsonl
scripts/*.csv
auto_kmdb.env
webapp/data/*.joblib
webapp/data/log.txt
**.env
webapp/data/data.jsonl.gz
.env.prod
webapp/data/screenshot_login*
.yarn/*
