node_modules/
.venv/
.avenv/
.vscode/
.nuxt/
.output/
__pycache__/
.ipynb_checkpoints/
autokmdb.log
screenshot.png
webapp/secrets/
webapp/data/.cache
dataset/*.jsonl
scripts/*.csv
auto_kmdb.env
webapp/data/*.joblib
webapp/data/log.txt
**.env*