# database
MYSQL_HOST=127.0.0.1
MYSQL_PORT=9999
MYSQL_USER=""
MYSQL_PASS=""
MYSQL_DB=""

# turn on for local testing
NO_LOGIN=0

# path for model cache
TRANSFORMERS_CACHE=''

# for paywalls (optional)
COOKIE_444=""
TOKEN_HVG=""
USER_444=""
PASS_444=""
PAYL_444=""
USER_24=""
PASS_24=""
USER_MN=""
PASS_MN=""
USER_PORTFOLIO=""
PASS_PORTFOLIO=""
USER_JELEN=""
PASS_JELEN=""
USER_HANG=""
PASS_HANG=""