Flask-SQLAlchemy==3.1.1
Flask==3.0.0
newspaper3k==0.2.8
feedparser==6.0.10
uvicorn[standard]==0.24.0
gunicorn
jsonlines
mysql-connector-python
transformers==4.34.0
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.1.0