Flask==3.1.0
git+https://github.com/boapps/newspaper4k.git
waitress==3.0.2
jsonlines==4.0.0
mysql-connector-python==9.3.0
transformers==4.46.3
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.5.1
python-slugify[unidecode]
joblib==1.5.1
scikit-learn==1.6.1
beautifulsoup4==4.13.4
typing-extensions
python-dotenv==1.1.0
hu_core_news_lg@https://huggingface.co/huspacy/hu_core_news_lg/resolve/e31b9bec2d558a24bbcbd12cd059fa34ada54a8d/hu_core_news_lg-any-py3-none-any.whl
typing==3.7.4.3
pandas==2.2.3
playwright==1.52.0
requests[socks]
cachetools==5.5.2
cloudscraper==1.2.71
chromadb==1.0.10
datasets==3.1.0
google-genai==1.16.1
datasketch==1.6.5
