Flask-SQLAlchemy==3.1.1
Flask==3.0.0
git+https://github.com/boapps/newspaper4k.git
uvicorn[standard]==0.24.0
gunicorn
jsonlines
mysql-connector-python
transformers==4.34.0
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.0
python-slugify[unidecode]
joblib
scikit-learn
beautifulsoup4
typing-extensions
python-dotenv
https://huggingface.co/huspacy/hu_core_news_lg/resolve/main/hu_core_news_lg-any-py3-none-any.whl
typing
pandas
playwright
requests[socks]
numpy<2
